xmls/Cancer.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE Cancer [
   <!ELEMENT CANCER (type, Patients, Treatments)>
   <!ELEMENT type (#PCDATA)>
   <!ELEMENT Patients(Patient+)>
   <!ELEMENT Patient (name, surname, dob, sex, location, actualState)>
   <!ELEMENT name (#PCDATA)>
   <!ELEMENT surname (#PCDATA)>
   <!ELEMENT dob (#PCDATA)>
   <!ELEMENT sex (#PCDATA)>
   <!ELEMENT location (#PCDATA)>
   <!ELEMENT actualState (#PCDATA)>
   
 

]>